* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(0,0,0,.8);
}

.container {
    width: 800px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.grid {
    display: flex;
    flex-wrap: wrap;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    width: calc(800px / 8);
    height: calc(800px / 8);
    border: 2px solid white;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}